 {
    -color-primary:#ffffff;
    -color-accent:#F44336;
    -color-secondary:#1E88E5;
    -color-dark-primary:#2c374a;
    -color-dark-secondary:#1b2432;
    -color-dark-blue:#2c4563;
    -color-amber:#ffc400;
    -color-light-amber:#fedf79;
    -color-dark-amber:#c89a00;
    -color-dark-gray:#1d1d1d;
    -color-gray:#666666;
    -color-middle-gray:#545454;
    -color-light-gray:#a1a1a1;
    -color-background:#3c3f41;
    -color-transparent: rgba(255,255,255,0.6);
}